extends layout

block content
  .header-container
    .header-overlay
      .inner-container
        h1.logo-text BLAZE
        h2.header-subtitle Mark your trail and blaze it
        button.main-button Download
  .nav
    ul
      li About
      li Why Blaze
      li Contact
  .about-container
    .item-container
      .item-box
        i.icon-detail.fa.fa-binoculars #[span Find New Adventures]
        p.item-text Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
      .item-box
        i.icon-detail.fa.fa-tree#[span See What’s Good]
        p.item-text Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
      .item-box
        i.icon-detail.fa.fa-bicycle#[span Get Inspired]
        p.item-text Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
      .item-box
        i.icon-detail.fa.fa-blind#[span Inspire Others]
        p.item-text Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
      .item-box
        i.icon-detail.fa.fa-bug#[span Join A Community]
        p.item-text Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
      .item-box
        i.icon-detail.fa.fa-compass#[span Give Back]
        p.item-text Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
  .slant-container
    .slant
      .slant-overlay
  .testimonial-container
    .testimonial-text-container
      h2.testimonial-text "I love using Blaze it lets me connect with a community of outdoor enthusiasts"
  .content-container
    .panel
      .left-panel-container
        h1.left-panel-header Blaze is...
        h2.left-panel-text A comprehensive app connecting outdoor enthusiasts, trail hikers and land management organizations. Blaze responsibly. We are outdoorsy folk who want to preserve trails and make your hikes better.  Improve trail conditions, report real time weather updates, and inspire new adventures. Post your real time updates within app or through Facebook. Meet each other virtually on the trail to share your experience. Give your community real time updates, track trail obstacles and improve conditions together.
        h2.left-panel-text Pay it forward. Help other hikers make the most of their adventures. Report real time weather updates, trail conditions and incredible outdoor opportunities with other hikers and preservation organizations.
    .panel.right-panel
  .testimonial-container
    .testimonial-text-container.hashtag-container
      h2.testimonial-text.hashtag #BLAZERESPONSIBLY
  .back-slant-container
    .back-slant
      .back-slant-overlay
  .form-container
    h1.form-container-header Contact Us
    form
      .form-left
        input(type="text" placeholder="Name")
        input(type="text" placeholder="Name")
        input(type="text" placeholder="Name")
      .form-right
        textarea(placeholder="Type your comment...")
      button.button(type-="submit") Submit
  .footer-container
    .footer-inner-container
      .bottom-logo-container
        h1.bottom-logo BLAZE
